<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="interdroid.cuckoo" >

    <uses-sdk
        android:minSdkVersion="1"
        android:targetSdkVersion="18" />

    <application
        android:icon="@drawable/icon"
        android:label="Resource Manager" >
        <provider
            android:name="interdroid.cuckoo.ResourceManagerProvider"
            android:authorities="interdroid.cuckoo.ResourceManager"
            android:exported="true" />

        <activity
            android:name=".ResourcesList"
            android:label="Resource Manager" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>